body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

p {
  line-height: 1.5;
}

pre {
  background-color: #eee;
  padding: 10px;
  overflow-x: scroll;
}

pre code {
  display: block;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

